<ion-header>
    <ion-navbar>
        <ion-title>{{'Add Vehicle' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <form [formGroup]="addvehicleForm" style="padding-right: 16px;">
        <ion-row>
            <ion-col col-10 style="padding: 0px;">
                <ion-item>
                    <ion-label stacked>{{'Device ID(IMEI)*' | translate}}</ion-label>
                    <ion-input formControlName="device_id" type="text"></ion-input>
                </ion-item>
                <ion-item class="logitem1"
                    *ngIf="!addvehicleForm.controls.device_id.valid && (addvehicleForm.controls.device_id.dirty || submitAttempt)">
                    <p>{{'device id required!' | translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-2 style="margin: auto; text-align: right;">
                <ion-icon (click)="scan()" name="barcode" style="font-size: 2.2em;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-item>
            <ion-label stacked>{{'Registration Number*' | translate}}</ion-label>
            <ion-input formControlName="device_name" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addvehicleForm.controls.device_name.valid && (addvehicleForm.controls.device_name.dirty || submitAttempt)">
            <p>{{'device name required!' | translate}}</p>
        </ion-item>
        <div *ngIf="!addvehicleForm.controls.sim_number.valid">
            <ion-item>
                <ion-label stacked>{{'Sim Number*'| translate}}</ion-label>
                <ion-input formControlName="sim_number" type="number"></ion-input>
            </ion-item>
            <ion-item class="logitem1"
                *ngIf="!addvehicleForm.controls.sim_number.valid && (addvehicleForm.controls.sim_number.dirty || submitAttempt)">
                <!-- <p>{{'sim number is required & sould be 10 or 13 digits!' | translate}}</p> -->
                <p>{{'sim number is required!' | translate}}</p>
            </ion-item>
        </div>

        <ion-row *ngIf="addvehicleForm.controls.sim_number.valid">
            <ion-col col-10 style="padding: 0px;">
                <ion-item>
                    <ion-label stacked>{{'Sim Number*'| translate}}</ion-label>
                    <ion-input formControlName="sim_number" type="number"></ion-input>
                </ion-item>
                <ion-item class="logitem1"
                    *ngIf="!addvehicleForm.controls.sim_number.valid && (addvehicleForm.controls.sim_number.dirty || submitAttempt)">
                    <!-- <p>{{'sim number is required & sould be 10 or 13 digits!' | translate}}</p> -->
                    <p>{{'sim number is required!' | translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-2 style="margin: auto; text-align: right;">
                <ion-icon name="text" style="font-size: 2.3em;" (click)="checkPermissionAndSend()"></ion-icon>
            </ion-col>
        </ion-row>
        <!-- <ion-item>
            <ion-label stacked>{{'Driver Name' | translate}}</ion-label>
            <ion-select formControlName="driver">
                <ion-option *ngFor="let dr of driverList" [value]="dr.name" style="margin-left: -2px;">{{dr.name}}
                </ion-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label stacked>{{'Driver Contact Num.' | translate}}</ion-label>
            <ion-input formControlName="contact_num" type="number" maxlength="10" minlength="10"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addvehicleForm.controls.contact_num.valid && (addvehicleForm.controls.contact_num.dirty || submitAttempt)">
            <p>{{'contact number should be 10 digits!'| translate}}</p>
        </ion-item> -->

        <ion-item>
            <ion-label stacked>{{'Expire On*' | translate}}</ion-label>
            <ion-input type="date" formControlName="ExipreDate" min="{{minDate}}">
            </ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addvehicleForm.controls.ExipreDate.valid && (addvehicleForm.controls.ExipreDate.dirty || submitAttempt)">
            <p>{{'date of expiry required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{'Device Model'| translate}}*</ion-label>
            <ion-select formControlName="device_type">
                <ion-option *ngFor="let name of deviceModel" [value]="name.device_type"
                    (ionSelect)="deviceModelata(name)">{{name.device_type}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addvehicleForm.controls.device_type.valid && (addvehicleForm.controls.device_type.dirty || submitAttempt)">
            <p>{{'device model required!'| translate}}</p>
        </ion-item>


        <ion-item *ngIf="allGroup.length > 0">
            <ion-label stacked>{{'Group' | translate}}</ion-label>
            <ion-select formControlName="name">
                <ion-option *ngFor="let group of allGroup" [value]="group.name" (ionSelect)="GroupStatusdata(group)">
                    {{group.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{'Select User'| translate}}</ion-label>
            <ion-select formControlName="first_name">
                <ion-option *ngFor="let user of selectUser" [value]="user.first_name"
                    (ionSelect)="userselectData(user)">{{user.first_name | titlecase}} {{user.last_name | titlecase}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{'Vehicle Type' | translate}}*</ion-label>
            <ion-select formControlName="brand">
                <ion-option *ngFor="let veh of allVehicle" [value]="veh.brand" (ionSelect)="vehicleTypeselectData(veh)">
                    {{veh.brand}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addvehicleForm.controls.brand.valid && (addvehicleForm.controls.brand.dirty || submitAttempt)">
            <p>{{'vehicle type is required required!' | translate}}</p>
        </ion-item>
        <!-- <ion-item>
            <ion-label stacked>{{'Fast tag Id' | translate}}</ion-label>
            <ion-input formControlName="fastag" type="text"></ion-input>
        </ion-item> -->
    </form>

</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="border-right: 1px solid white; text-align: center; padding: 0px !important">
                <button ion-button style="padding: 0px;" clear color="light"
                    (click)="openAddGroupModal()">{{'ADD NEW GROUP' | translate}}</button>
            </ion-col>
            <ion-col width-50 style="text-align: center; padding: 0px !important">
                <button ion-button style="padding: 0px;" clear color="light"
                    (click)="adddevices()">{{'ADD VEHICLE' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
