<ion-header>
  <ion-navbar>
    <ion-title>{{"Add Reminder" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <form #remForm="ngForm"> -->
  <ion-list>
    <ion-item style="background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">{{
            "Select Vehicle" | translate
          }} *</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
        itemTextField="Device_Name" [canSearch]="true" (onChange)="onChange(selectedVehicle)">
      </select-searchable>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"Date" | translate}} *</ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="remDate">
      </ion-datetime>

    </ion-item>

    <ion-item>
      <ion-label floating>{{"Type number of days to get reminder for your services" | translate}} </ion-label>
      <ion-input type="number" [(ngModel)]="priorDay"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"Reminder Type" | translate}} *</ion-label>
      <ion-select [(ngModel)]="reminderType" (ionChange)="onSeletChange(reminderType)">
        <ion-option *ngFor="let rem of reminderTypes" [value]="rem.value">{{rem.viewValue}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"Notification Type" | translate}} *</ion-label>
      <ion-select [(ngModel)]="notifType" (ionChange)="onSeletChange1(notifType)">
        <ion-option *ngFor="let notif of notifTypes" [value]="notif.value">{{notif.view}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"Additional Notes" | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="note"></ion-input>
    </ion-item>
  </ion-list>
  <!-- </form> -->
</ion-content>

<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row>
      <ion-col style="text-align: center;">
        <button ion-button clear color="light" (click)="addReminder()">{{"Add Reminder" | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>